body {
  background: url("/images/bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
}
p {
  line-height: 20px;
}
.post-block {
  border-radius: 20px !important;
  background-color: #fff !important;
}
.darkmode--activated .post-block {
  border-radius: 20px !important;
  background-color: #333 !important;
}
.sidebar-inner {
  border-radius: 20px !important;
  background-color: #fff !important;
}
.darkmode--activated .sidebar-inner {
  border-radius: 20px !important;
  background-color: #333 !important;
}
.header-inner {
  border-radius: 20px !important;
  background-color: #fff !important;
}
.darkmode--activated .header-inner {
  border-radius: 20px !important;
  background-color: #333 !important;
}
.comments {
  border-radius: 20px !important;
  background-color: #fff !important;
}
.darkmode--activated .comments {
  border-radius: 20px !important;
  background-color: #333 !important;
}
.site-brand-container {
  background-color: #50616d;
}
.darkmode--activated .site-brand-container {
  background-color: #000;
}
.darkmode--activated img {
  opacity: 1 !important;
}
.darkmode--activated .wl-panel {
  background-color: #333 !important;
}
.darkmode--activated .wl-editor {
  background-color: #333 !important;
  color: #eee !important;
}
.darkmode--activated .wl-editor:focus {
  background-color: #444 !important;
  color: #eee !important;
}
.darkmode--activated .wl-input {
  background-color: #333 !important;
  color: #eee !important;
}
.darkmode--activated .wl-input:focus {
  background-color: #444 !important;
  color: #eee !important;
}
.darkmode--activated .wl-content p {
  color: #ccc !important;
}
.darkmode--activated .wl-reply {
  color: #fff !important;
}
.darkmode--activated .wl-like {
  color: #fff !important;
}
.darkmode--activated .wl-edit {
  color: #fff !important;
}
.darkmode--activated .wl-header-item label {
  color: #ccc !important;
}
.darkmode--activated .wl-btn {
  color: #ccc !important;
}
.darkmode--activated .wl-btn:disabled {
  color: #333 !important;
}
.darkmode--activated .wl-os {
  background-color: #333 !important;
  color: #eee !important;
}
.darkmode--activated .wl-os {
  background-color: #444 !important;
  color: #eee !important;
}
.darkmode--activated .wl-browser {
  background-color: #444 !important;
  color: #eee !important;
}
.darkmode--activated .wl-addr {
  background-color: #444 !important;
  color: #eee !important;
}
.site-subtitle {
  font-size: 0px;
  height: 0px;
}
code {
  background-color: #fffff0;
  color: rgba(0,0,0,0.75);
}
.footer {
  font-size: 0px;
  height: 0px;
}
.tag-cloud-0 {
  background-color: #1bbbff;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: #000;
}
.tag-cloud-0::before {
  content: "<div class='fa fa-tags fa-fw'></div>";
}
.hljs-meta {
  color: #98c379;
}
.hljs-keyword {
  color: #c678dd !important;
}
.hljs-title {
  color: #61aeee;
}
.hljs-number {
  color: #98c379;
}
.hljs-string {
  color: #98c379 !important;
}
.hljs-comment {
  color: #6c7380;
}
.hljs-built_in {
  color: #56b6c2;
}
.code {
  background-color: #282c34;
}
::selection {
  background: #c3d9ff;
  color: #000;
}
blockquote {
  background-color: #fff !important;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}
details {
  cursor: pointer;
}
